body {
	margin: 0;
	padding: 0;
	width: 640px;
	height: 1136px;
	font-family: "微软雅黑";
}
.pa{position: absolute;}
.p-rl{position: relative;}
.none{display: none;}
.block{display: block;}
.fl{float:left;}
.fr{float:right;}
.clb{clear:both;}
.wid{width:100%;}
.mar{margin:0 auto;}
.tac{text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}
.cw{color: white;}

.swiper-container{
	width: 100%;
	height: 100%;
}
::-webkit-input-placeholder {
	color: white;
}
div#back{right:40px;bottom: 150px;z-index: 10;}
div#p1 {
	background-color: #f0f6ee;
}
div#p1-1 {
	bottom: 0;
}
div#p1-2 {
	top:0;
}
div#p1-3 {
	left:100px;
	top:100px;
}
div#p1-4 {
	left:465px;
	top:35px;
}
div#p1-5 {
	left:35px;
	top:175px;
	/*animation: shake 2s infinite;*/
	/*webkit-animation: shake 2s infinite;*/
}
div#p1-6 {
	left:555px;
	top:175px;
	/*animation: shake 2s infinite;*/
	/*webkit-animation: shake 2s infinite;*/
}
div#p1-7 {
	left:155px;
	top:115px;
}
div#p1-8 {
	left:260px;
	top:185px;
}
div#p1-ctn{
	top: 400px;
	left:85px;
}
div.p1-btn{
	width: 212px;
	height: 87px;
	background-image: url(../img/p1-9.png);
}
div#p1-r1,div#p1-r2,div#p1-r3,div#p1-r4{
	width: 470px;
	height: 87px;
	margin-bottom: 35px;
	font-size: 1.7em;
	line-height: 87px;
}
/*.page{
	width: 640px;
	height: 1136px;
	position: absolute;
}*/
.page img{
	/*display:none*/
	width: 0;
	height: 0;
	position: absolute;
	left: 320px;
	top: 500px;
	z-index: 9;
	transition:width 0.3s ease-in-out,height 0.3s ease-in-out,left 0.3s ease-in-out,top 0.3s ease-in-out;
}
/*loading*/

#loading {
	position: absolute;
	width: 640px;
	height: 1136px;
	background-color: #fbfaf5;
	text-align: center;
	z-index: 10;
}
#loading p {
	background-color: transparent;
	font-family: arial;
	font-size: 3em;
	display: block;
	width: 300px;
	margin-left: 170px;
	margin-top: 300px;
	color: #666;
}
.spinner {
  margin: 30px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #888;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
