@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	width: 30%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

/*main*/

img.portrait {
	width: 200px;
}
h1 {
	font-weight: bold;
	font-family: lato,"Microsoft YaHei";
	color: #133B4C;
}
p,a {
	font-family: lato,"Microsoft YaHei";
	color: #DDEDF4;
	transition: 0.5s;
	line-height: 1.5;
  	text-decoration: none;
}
p#h {
	font-size: 1.2em;
}
h1#s {	
	font-family: lato,"Microsoft YaHei";
	font-size: 3em;
	color: #042037;
}
h2 {
	font-family: lato,"Microsoft YaHei";
	color: #326A83;
	display: block;
	margin-top: 10px;
	font-size: 1.3em;
}
div#profile {
	padding-top: 20px;
	height: 300px;
}
/**/
div#section0 p {
	font-weight: bold;
	color: #3D7187;
}
div#section0 a {
	font-weight: bold;
	color: #3D7187;
	font-size: 0.7em;
}
div#section0 a:hover {
	color: #DDEDF4;
	transition: color 0.5;
}
div#section0 p {
	font-size: 1.7em;
}

div#section1 p {
	display: block;
	background-color: #326A83;
	line-height: 1em;
	font-size: 1.2em;
	color: #DDEDF4;
	border-radius:10px;
	margin-top: 5px;

}
div#section1 p.h {
	background-color: #50859C;
	line-height: 2em;
	font-size: 2em;
	color: #DDEDF4;
	font-weight: bold;
	border-radius:10px;
	margin-top: 5px;
}
/*div#section3 p {
	width: 25%;
	display: block;
	background-color: #326A83;
	line-height: 1.5em;
	font-size: 1.2em;
	color: #DDEDF4;
	border-radius:10px;
	margin-top: 5px;
}*/
div#section3 p.h {
	background-color: #50859C;
	line-height: 2em;
	font-size: 2em;
	font-weight: bold;
	color: #DDEDF4;
	border-radius:10px;
	margin-top: 5px;
	border-bottom: dashed;
	border-color: #326A83;
}
div#section3 p {
	width: 25%;
	display: block;
	background-color: #50859C;
	line-height: 1.5em;
	font-size: 1.2em;
	color: #DDEDF4;
	margin-top: 5px;
	border-radius:10px;
}
div#section3 p.h1 {
	background-color: #7BAABE;
	line-height: 2em;
	font-size: 2em;
	font-weight: bold;
	color: #133B4C;
}



/*skills*/
.tag-panel{margin:15px auto}
.tag{
	font-family: lato,"Microsoft YaHei";
	font-size: 1.5em;
	background-color:#326A83;
	color:#DDEDF4;
	border-radius:10px;
	display:inline-block;
	padding:2px 8px;
	margin-right:3px;
	margin-bottom:3px;
	opacity:0.5}
.tag.expert{opacity:1}
.tag.familiar{opacity:0.75}


/*more*/
div#section4 a#h {
	padding-left: 20px;
	font-size: 5em;
	font-weight: bold;
	color: #326A83;
}
div#section4 a#h:hover {
	color: #133B4C;
	transition: color 0.5;
}
div.contact {
  padding-top: 50px;
}
img.contact {
  width: 50px;
}
ul.contact {
  /*display: none;*/
}
ul.contact li {
  display: inline-block;
  text-align: left;
  width: 85px;
  height: 65px;
  background-color: #326A83;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
  border-radius:50%;
  margin-left:20px;
  transition: border-radius 0.5s,background-color 0.5s;
}
ul.contact li:hover {
  background-color: #133B4C;
  border-radius:20%;	
}
span.github,span.linkedin,span.email {
  font-family:fantasy;
  color: #a9b7b7;
  margin-top: 40px;
  font-size: 1.5em;
  letter-spacing:1px;
  display: none;
}
img.weixinQRCODE{ 
  width: 150px;
  margin-left: 70px;
  display: none;
}