body,div,h1,h2,html,img,li,p,a,span,input,table,table tr,table tr td,ul{margin:0;padding:0;border:none;list-style-type: none;}
html,body{width:100%; height:100%; overflow: hidden; font-size:25px;}
body
    {background:#000 url(../images/bg.jpg) no-repeat left top;
    background-size:cover;
    }
#main {
    position: static;
    width:100%;
    height:100%;
    color:#fff;
    font-family: "微软雅黑";
    text-align: center;
}
div#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    background-color: black;
    transition: opacity 0.3s ;
    z-index: 10;
}
div#welcome {
    /*display: none;*/
    text-align: center;
    padding-top: 300px;
    font-size: 1.3em;
}
div#welcome img {
    margin-bottom: 30px;
}
div#p1 {
    padding-top: 200px;
    display: none;
}
div#formP1 {
    font-size: 1.3em;
    background-image: url(../images/bg_email.png);
    width: 478px;
    padding:40px 40px;
    height: 294px;
    margin-right: auto;
    margin-left: auto;
}
div#formP1 input {
    /*display: block;*/
    position: relative;
    background-color: transparent;
    margin-top: 70px; 
    padding: 0 30px; 
    height: 60px;
    line-height: 40px;
    width: 420px;
    font-size: 1em;
}
div#submitP1 {
    margin: 100px auto;
    background-image: url(../images/btn_get.png) ;
    background-repeat: no-repeat;
    width: 557px;
    height: 100px;
}
div#p2 {
    display: none;
    width: 100%;
    height: 100%;
    background-image: url(../images/lotterybg.jpg);
}
div#btnP2 div {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    top: 600px;
    width: 300px;
    height: 80px;
    background-color: #ff2b2b;
    border-radius: 15px;
    font-size: 2em;
    text-align: center;

}
div#p3,#p4,#p5{
    display: none;
    width: 100%;
    height: 100%;
}
div#p3 p {
    font-size: 1.5em;
    top: 400px;
    position: relative;
}
/*div#p5{
    display: block;
    width: 100%;
    height: 100%;
}*/
div#formP4 {
    width: 567px;
    height: 385px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 170px;
    background-image: url(../images/bg_danmaku.png);
}
#commit {
    width: 423px;
    height: 312px;
    padding: 14px 28px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin:30px 0 0 4px;
    font-family: 'Microsoft YaHei';
    font-size: 28px;
    background-color: transparent;
}
div#p4 p{
    font-size: 1.5em;
    top: 150px;
    position: relative;    
}
div#btnP4 {
    position: relative;
    top: 250px;
}
div#submitP4 {
    background-image: url(../images/btn_send.png);
    width: 242px;
    height: 82px;
    display: inline-block;
}
div#rewriteP4 {
    background-image: url(../images/btn_rewrite.png);
    width: 242px;
    height: 82px;
    display: inline-block;
    /*position: relative;*/
}
div#p5 h1 {
    position: relative;
    top: 100px;
}
label {
    position: relative;
    display: block;
    top: 200px;
    margin: 15px auto;
    width: 400px;
    height: 70px;
    background-color: white;
    color: #555;
    font-size: 1.5em;
    padding-left: 20px;
    text-align: left;
}
input[type=radio] {
    width: 2em;
    height: 2em;
}
div#btnP5 {
    position: relative;
    top: 250px;
}
div#voteP5 {
    background-image: url(../images/btn_vote.png);
    width: 242px;
    height: 82px;
    display: inline-block;
}
div#bP5 {
    background-image: url(../images/btn_back.png);
    width: 242px;
    height: 82px;
    display: inline-block;
}
/*menu*/
div#menu {
    position: fixed;
    left: 70px;
    bottom: 60px;
    z-index: 10;
}
div#menu img {
    transition: transform 0.5s;
}
img.opened {
    transform:rotate(135deg);
}
div#menuList {/*
    width: 220px;
    height: 550px;*/
    position: fixed;
    left: 80px;
    bottom: 200px;
    overflow: hidden;
    /*display: none;*/
}
div#menuList li {
    height: 110px;
    line-height: 110px;
    font-size: 1.3em;
    padding-left: 90px;
    background-repeat: no-repeat;
    background-position: left center;
}
div#menuList div {
    position: relative;
    transition: bottom 0.5s,opacity 0.5s;
}
div#menuList div.closed {
    bottom: -550px;
    opacity: 0;
}
div#menuList div.opened {
    bottom:0px;
    opacity: 1;
}
li#li1 {
    background-image: url('../images/m_1.png');
}
li#li2 {
    background-image: url('../images/m_2.png');
}
li#li3 {
    background-image: url('../images/m_3.png');
}
li#li4 {
    background-image: url('../images/m_4.png');
}
li#li5 {
    background-image: url('../images/m_5.png');
}